<a href="https://colab.research.google.com/github/bmukhammadaliev/Final-Project-draft-/blob/main/Hoter_Reservation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import sqlite3 as sl
import pandas as pd

con = sl.connect('Hotel_Reservation.db')

In [24]:
Transactions = pd.DataFrame({
    'transaction_ID': [1111,1222,2222,2111,3222],
    'reserv_id': ['rsv1', 'rsv2', 'rsv3', 'rsv4', 'rsv5'],
    'employee_id': ['e1','e2','e3','e4','e5'],
    'payment_id': ['py1','py2','py3','py4','py5'],
    'customer_id': ['s1','s2','s3','s4','s5'],
    'hotel_id':['hm1','hm2','hm3','hm4','hm5']
})
Transactions

   transaction_ID reserv_id employee_id payment_id customer_id hotel_id
0            1111      rsv1          e1        py1          s1      hm1
1            1222      rsv2          e2        py2          s2      hm2
2            2222      rsv3          e3        py3          s3      hm3
3            2111      rsv4          e4        py4          s4      hm4
4            3222      rsv5          e5        py5          s5      hm5

In [25]:
Transactions.to_sql(name = 'Transactions', con = con, if_exists="replace", index=False)

In [26]:
q="SELECT transaction_ID, reserv_id, employee_id, payment_id, customer_id, hotel_id FROM Transactions"
my_cursor=con.execute(q)
for row in my_cursor:
  print(row)

(1111, 'rsv1', 'e1', 'py1', 's1', 'hm1')
(1222, 'rsv2', 'e2', 'py2', 's2', 'hm2')
(2222, 'rsv3', 'e3', 'py3', 's3', 'hm3')
(2111, 'rsv4', 'e4', 'py4', 's4', 'hm4')
(3222, 'rsv5', 'e5', 'py5', 's5', 'hm5')

In [27]:
Hotel= pd.DataFrame({
    'hotel_id':['hm1'],
    'hotel_adress': ['128 Bukhary'],
    'city': ['Busan'],
    'country': ['South Korea'],
    'zip_code': ['s1'],
    'hotel_name':['Paradise Hotel'],
    'owner_firstname': ['Bekzodbek '],
    'owner_last_name': ['Abdulaziz']

})
Hotel

,hotel_id,hotel_adress,city,country,zip_code,hotel_name,owner_firstname,owner_last_name
0,hm1,128 Bukhary,Busan,South Korea,s1,Paradise Hotel,Bekzodbek,Abdulaziz

In [28]:
Hotel.to_sql(name = 'Hotel', con = con, if_exists="replace", index=False)

In [30]:
q="SELECT hotel_id, hotel_adress, city, country, zip_code, hotel_name, owner_firstname, owner_last_name FROM Hotel"
my_cursor=con.execute(q)
for row in my_cursor:
  print(row)

('hm1', '128 Bukhary', 'Busan', 'South Korea', 's1', 'Paradise Hotel', 'Bekzodbek ', 'Abdulaziz')

In [31]:
Various_Charges= pd.DataFrame({
    'various_charges_id':['vc11','vc22','vs33'],
    'name': ['Stolen item','Broken window','Food'],
    'cost': ['$47','$120','$30'],
    'description': ['the hair drier is missing the room 123A','The big window is broken and needs to be replaced','All room service for food is under about $30 buffet'],
    
})
Various_Charges

,various_charges_id,name,cost,description
0,vc11,Stolen item,$47,the hair drier is missing the room 123A
1,vc22,Broken window,$120,The big window is broken and needs to be replaced
2,vs33,Food,$30,All room service for food is under about $30 b...

In [32]:
Various_Charges.to_sql(name = 'Various_Charges', con = con, if_exists="replace", index=False)

In [33]:
q="SELECT various_charges_id, name, cost, description FROM Various_Charges"
my_cursor=con.execute(q)
for row in my_cursor:
  print(row)

('vc11', 'Stolen item', '$47', 'the hair drier is missing the room 123A')
('vc22', 'Broken window', '$120', 'The big window is broken and needs to be replaced')
('vs33', 'Food', '$30', 'All room service for food is under about $30 buffet')